$sideNavBackground: #66B9BF;
$mainNavBackground: #008B95;
:host {
  background-color: $mainNavBackground;
}

.sideNav {
  background-color: $sideNavBackground;
  color: white;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  float: left;
}

.mainNav {
  margin-left: 200px;
  background-color: $mainNavBackground;
}
